<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nubilityanimation">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FragmentImplementation.FavouriteUserActivity"></activity>
        <activity android:name=".FragmentImplementation.WatchLaterActivity" />
        <activity android:name=".E_Store.UserCartActivity" />
        <activity android:name=".E_Store.Product_Sellar_Activity" />
        <activity android:name=".E_Store.ProductViewActivity" />
        <activity
            android:name=".FragmentImplementation.UserVideoActivity"
            android:configChanges="orientation|screenSize|layoutDirection|keyboardHidden"
            android:parentActivityName=".UserSide.UserHomeActivity" />
        <activity android:name=".FanArt.CommentActivity" />
        <activity android:name=".FanArt.DisplayPostActivity" />
        <activity android:name=".FanArt.CreatePostActivity" />
        <activity android:name=".Chat.GroupMessageActivity" />
        <activity android:name=".ProfileDetail.ProfileDetailsActivity" />
        <activity android:name=".Registration.PictureUpload" />
        <activity android:name=".Registration.ForgetPasswordActivity" />
        <activity android:name=".AdminSide.AdminHomeActivity" />
        <activity android:name=".UserSide.UserHomeActivity" />
        <activity android:name=".Registration.RegistrationActivity" />
        <activity android:name=".Registration.LoginActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.nubilityanimation.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>